[package]
name = "mkb"
version = "0.1.0"
license = "MIT"
homepage = "https://gitlab.com/legicash/legicash-mkb"
repository = "https://gitlab.com/legicash/legicash-mkb"
authors = ["Mathieu Dutour Sikiric <Mathieu.Dutour@gmail.com>"]


[dependencies]
#jsonrpc-core = { git = "https://github.com/paritytech/jsonrpc.git", branch = "parity-2.2" }
#parity-ethereum = { git = "https://github.com/paritytech/parity-ethereum" }
rocksdb = "0.8.1"
#rocksdb = { git = "https://github.com/nervosnetwork/rust-rocksdb" }
#rust_sodium = "~0.10.0"
serde_json = "1.0.37"
serde = "1.0"
serde_derive = "1.0"
log = "0.4.6"

